<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Fake News Detection</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-..." crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="#page-top">Detector.io</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#prediction">Prediction</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="#!">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="masthead text-center text-white" id="home">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Be Aware</h1>
                    <h2 class="masthead-subheading mb-0">Be In Touch With Us</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="https://www.truthorfiction.com/category/news/">Learn More</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <section id="team">
            <div class="container px-5">
               
                <div class="row gx-5 align-items-center">
                    <h1 class="text-center m-3">Our Team Members</h1>
                    <div class="col-lg-3 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://tse1.mm.bing.net/th?id=OIP.gc3t47uzwobvIzRI_Wz-CAHaF6&pid=Api" alt="..." /></div>
                        <h2 class="text-center text-black">Sagar Mamwadi</h2>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-lg-3 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://tse1.mm.bing.net/th?id=OIP.gc3t47uzwobvIzRI_Wz-CAHaF6&pid=Api" alt="..." /></div>
                        <h2 class="text-center text-black">Apurvi Shukla</h2>
                    </div>
                    <div class="col-lg-3 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://tse1.mm.bing.net/th?id=OIP.gc3t47uzwobvIzRI_Wz-CAHaF6&pid=Api" alt="..." /></div>
                        <h2 class="text-center text-black">Padmesh Dwivedi</h2>
                    </div>
                    <div class="col-lg-3 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://tse1.mm.bing.net/th?id=OIP.gc3t47uzwobvIzRI_Wz-CAHaF6&pid=Api" alt="..." /></div>
                        <h2 class="text-center text-black">Nihal Singh Mandhyan</h2>
                    </div>
                    
                </div>
                
            </div>
            
        </section>
        <!-- Content section 2-->
        <section id="about" class="masthead text-center">
            <div class="masthead-content">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid" src="https://t3.ftcdn.net/jpg/05/02/71/02/240_F_502710294_nCnxM9Q5ryQLYcYenHSZo9SU7lu7nXZ7.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2>About the Fake News Detection System</h2>
                            <p>
                               The Fake News Detection System is designed to assist users in verifying the credibility of news articles. 
                               Using advanced Natural Language Processing (NLP) techniques and machine learning models, it predicts 
                               whether a piece of news is real or fake based on its content.
                            </p>
                            <p>Our goal is to help combat misinformation and promote informed decision-making.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </section>
        <!-- Content section 3-->
        <section id="blog">
            
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://t3.ftcdn.net/jpg/05/53/97/42/240_F_553974211_1dn2uqvLqM5YXeijDwj8soS8XxO11NjO.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Let there be rock!</h2>
                            <p>"Don't fall for the fake, verify before you share"  as fake news detection system is specially designed while keeping in mind that
                                "Say no to fake news—facts deserve your trust."
                            </p>
                        </div>
                    </div>
                </div>v
            </div>      
        </section>

        <!-- Prediction Section -->
        <section id="prediction">
            <div class="masthead text-center">
                <div class="masthead-content">
                    <div class="container px-5">
            <form action="{{url_for('predict')}}" method="POST">
                
                <div class="mb-3">
                  <label class="form-label">Enter News</label>
                  <input type="text" class="form-control" id="text" name="text">
                  
                </div>
               
               
                <button type="submit" class="btn btn-primary">Predict</button>
              </form>
              {% if pred is not none %}
    {% if pred == 1 %}
        <h2 class="m-3">
            Prediction: Fake News
        </h2>
    {% elif pred == 0 %}
        <h2 class="m-3">
            Prediction: True News
        </h2>
    {% endif %}
{% endif %}

              </div>
              </div>
              <div class="bg-circle-1 bg-circle"></div>
              <div class="bg-circle-2 bg-circle"></div>
              <div class="bg-circle-3 bg-circle"></div>
              <div class="bg-circle-4 bg-circle"></div>
              </div>
        </section>
        <!-- Footer-->
        <footer class="py-3 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Sagar Mamwadi</p></div>
        </footer>
       
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
       
        
    </body>
</html>




